@import "~styles/partial/functions";
@import "~styles/partial/mixins";

.wrapper {
  color: get-color(dusty-grey);

  ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
  }
}

.item {
  list-style-type: none;

  a {
    padding: 10px 20px;
    color: get-color(dusty-grey);
  }
}
