@import "~styles/partial/functions";
@import "~styles/partial/mixins";

.wrapper {
  color: get-color(dusty-grey);

  ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    margin: 0;
  }

  @include break {
    background-color: get-color(white);
  }
}

.item {
  list-style-type: none;
  flex: 1 1 50px;
  text-align: center;

  a {
    padding: 10px 20px;
    color: get-color(dusty-grey);
  }
}
