$colors: (
  malibu: #8dd6f9,
  denim: #1d78c1,
  fiord: #465e69,
  elephant: #2b3a42,
  white: #fff,
  concrete: #f8f8f8,
  alto: #dedede,
  dusty-grey: #999,
  dove-grey: #666,
  emperor: #535353,
  mine-shaft: #333,
);

$screens: (
  xlarge: 1525px,
  large: 1024px,
  medium: 768px,
);

$font-size-base: 16px;
$font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
$font-weight: 300;
