$colors: (
  malibu: #8dd6f9,
  denim: #1d78c1,
  fiord: #465e69,
  elephant: #2b3a42,
  white: #fff,
  concrete: #f2f2f2,
  alto: #dedede,
  dusty-grey: #999,
  dove-grey: #666,
  emperor: #535353,
  mine-shaft: #333,
);

$screens: (
  xlarge: 1525px,
  large: 1024px,
  medium: 768px,
);
