@import "~styles/partial/variables";
@import "~styles/partial/functions";

body {
  font: $font-weight get-font-size(0) $font-family;
  color: get-color(elephant);
  background-color: lighten(get-color(elephant), 5%);
}

a {
  transition: color 0.3s;
  text-decoration: none;
  color: lighten(get-color(denim), 5%);
}
