@import "~styles/partial/functions";
@import "~styles/partial/mixins";

.wrapper {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lighten(get-color(elephant), 5%);

  @include break {
    padding: 10px 0;
    background-color: get-color(white);
  }
}
